@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0 1em;
  background-color: #5535af;
  color: #fff;
  height: 95vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

@media (max-width: 375px) {
  body {
    height: auto;
    padding: 3em 1em;
    font-size: 3.8vw;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h2 {
  font-size: 1.7em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

main h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

main h1 span {
  font-weight: 700;
}

main .description,
main .tip {
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: 1em;
}

main .description span.char,
main .tip span.char {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.15em .35em;
  border-radius: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: 14px;
  display: inline-block;
}

footer ul li::before {
  content: "|";
  margin: 0 12px;
}

footer ul li:first-child {
  font-weight: 700;
}

footer ul li:first-child::before {
  content: none;
}

footer ul li a {
  text-decoration: none;
  color: inherit;
}

footer ul li a:hover {
  opacity: 0.8;
}
