// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

// Colors
$color-primary: #5535af;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0 1em;
  background-color: $color-primary;
  color: #fff;
  height: 95vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  @media (max-width: 375px) {
    height: auto;
    padding: 3em 1em;
    font-size: 3.8vw;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.2em;
    font-weight: 400;
    margin-bottom: 1em;
    span {
      font-weight: 700;
    }
  }
  .description,
  .tip {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 1em;
    span.char {
      background-color: rgba(255,255,255,0.2);
      padding: 0.15em .35em;
      border-radius: 4px;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  ul {
    list-style: none;
    li {
      font-size: 14px;
      display: inline-block;
      &::before {
        content: "|";
        margin: 0 12px;
      }
      &:first-child {
        font-weight: 700;
        &::before {
          content: none;
        }
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
