// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;700&display=swap");

// Colors
$color-primary: #5535af;
$color-text: #555;
$color-apiCode: #149447;
$color-apiWindow: #f2effa;

// Fonts
$font-mono: "Roboto Mono", monospace;

// Global

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
  color: $color-text;
}

h1 {
  font-size: 21px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  a {
    color: $color-primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

code {
  background-color: $color-apiWindow;
  color: $color-primary;
  padding: 0 0.35em;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 15px;
}

// Header

header {
  background-color: $color-primary;
  color: #fff;
  padding: 36px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 420px) {
      flex-direction: column;
    }
    img#logo {
      width: 170px;
    }
    h1 {
      position: relative;
      top: 0.2em;
    }
  }
}

// Main

main {
  padding: 100px 0;
  .container {
    article {
      h2 {
        margin-bottom: 60px;
      }
      h3 {
        margin-bottom: 22px;
      }
      p {
        margin-bottom: 60px;
        &:last-child {
          margin-bottom: 0;
        }
        span.endpoint {
          font-family: $font-mono;
          background-color: $color-apiWindow;
          border-radius: 6px;
          font-size: 18px;
          padding: 0.35em 0.6em;
          color: $color-primary;
          font-weight: 500;
        }
      }
      .codeblock {
        font-family: $font-mono;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 60px;
        .codeblock-header {
          background-color: $color-primary;
          color: #fff;
          padding: 10px 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span.method {
            font-size: 22px;
            font-weight: 700;
          }
          span.endpoint {
            font-size: 16px;
            font-weight: 400;
            opacity: 0.5;
          }
        }
        .codeblock-body {
          background-color: $color-apiWindow;
          padding: 36px;
          font-size: 16px;
          line-height: 1.6;
          white-space: nowrap;
          overflow-x: scroll;
          span.key {
            color: $color-primary;
          }
          span.value {
            color: $color-apiCode;
          }
        }
      }
    }
  }
}

// Footer

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  ul {
    list-style: none;
    li {
      font-size: 14px;
      display: inline-block;
      &::before {
        content: "|";
        margin: 0 12px;
      }
      &:first-child {
        font-weight: 700;
        &::before {
          content: none;
        }
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: #535353;
        }
      }
    }
  }
}
